.content {
  margin: auto;
  width: 35%;
  min-width: 120px;
  padding-right: 4px;
  font-family: Verdana, Arial, sans-serif;
}
.chatHeader {
  background: #e4eaee;
  border: 2px solid #cfdae1;
  border-bottom: 1px solid #cfdae1;
  display: table;
  width: 100%;
  height: 40px;
}
.chatHeader div {
  display: table-cell;
  padding: 10px;
}
.chatHeader .nickField {
  text-align: right;
}
.chatHeader .roomsButton {
  width: 80px;
}
.chatHeader .roomsButton span {
  border-left: 2px solid #cfdae1;
  padding: 5px 10px;
}
.chatHeader .roomsButton span:after,
.chatHeader .roomsButton span:before {
  content: '';
  position: absolute;
  top: 17px;
  border: 6px solid transparent;
}
.chatHeader .roomsButton span:after {
  right: 5px;
  border-left: 8px solid #bcbcbc;
}
.chatHeader .roomsButton span:before {
  display: none;
  right: 11px;
  border-right: 8px solid #bcbcbc;
}
.chatHeader .roomsButton span:hover {
  cursor: pointer;
}
.closeArrow#roomsButton:after {
  display: none;
}
.openArrow#roomsButton:before {
  display: block;
}
.messageField {
  width: 100%;
  min-height: 100px;
  height: 25em;
  border-left: 2px solid #cfdae1;
  border-right: 2px solid #cfdae1;
  overflow: auto;
}
.messageField ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
}
.messageField .message {
  display: table;
  width: 100%;
  border-bottom: 1px solid #cfdae1;
  font-size: 14px;
  color: #5d7185;
}
.messageField .message > div {
  display: table-cell;
  padding: 5px 10px;
}
.messageField .message .messageNick {
  width: 20%;
  border-right: 1px solid #cfdae1;
  font-weight: bold;
}
.messageField .message .messageNickSpan:hover {
  cursor: pointer;
}
.messageField .message .messageText {
  display: table;
}
.messageField .message .messageText div {
  display: table-cell;
  padding: 5px;
}
.messageField .message .messageText .messageTextDiv {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.messageField .message .messageText .systemMessageTextDiv {
  font-weight: bold;
  text-align: center;
}
.messageField .message .messageText .messageTime {
  font-size: 10px;
  color: #738ba3;
}
.entryField {
  border: 2px solid #cfdae1;
  border-top: 1px solid #cfdae1;
  background: #e4eaee;
  display: table;
  width: 100%;
  height: 53px;
}
.entryField > div {
  display: table-cell;
  padding: 10px;
}
.entryField .sendField {
  width: 15%;
}
#sendButton,
#authButton,
#joinButton,
#createRoomButton {
  border: 1px solid #cfdae1;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}
#sendButton:focus,
#authButton:focus,
#joinButton:focus,
#createRoomButton:focus {
  border-radius: 5px;
  border: 2px solid #8cb4ee;
  outline: none;
}
#sendButton:hover,
#authButton:hover,
#joinButton:hover,
#createRoomButton:hover {
  cursor: pointer;
}
#sendButton:active,
#authButton:active,
#joinButton:active,
#createRoomButton:active {
  background: white;
}
#textField,
#nick {
  border: 1px solid #cfdae1;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
}
#textField:focus,
#nick:focus {
  border-radius: 5px;
  border: 2px solid #8cb4ee;
  outline: none;
}
.room {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: calc(100% - 4px);
  width: 180px;
  border-top: 2px solid #cfdae1;
  border-bottom: 2px solid #cfdae1;
  border-right: 2px solid #cfdae1;
  background: #e4eaee;
}
.room .roomHeader {
  box-sizing: border-box;
  background: #e4eaee;
  border-bottom: 1px solid #cfdae1;
  width: 100%;
  height: 41px;
  padding: 10px;
  text-align: center;
}
.room .roomContent {
  height: 25em;
  max-width: 180px;
  min-width: 180px;
  overflow: auto;
}
.room .roomContent ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
.room .roomContent ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #e4eaee;
}
.room .roomContent ul li:hover {
  box-sizing: content-box;
  cursor: pointer;
  border-bottom: 1px solid #cfdae1;
  background: white;
}
.room .roomContent ul .active {
  box-sizing: content-box;
  border-bottom: 1px solid #cfdae1;
  background: white;
}
.room .roomFooter {
  border-top: 1px solid #cfdae1;
  height: 53px;
  padding: 10px;
}
.auth {
  z-index: 10;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  border: 2px solid #cfdae1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #e4eaee;
  padding: 5px 5px;
}
.auth .error {
  display: none;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  position: relative;
}
.auth .error:before,
.auth .error:after {
  content: '';
  position: absolute;
  left: 15px;
  bottom: -15px;
  border: 7px solid transparent;
  border-top: 7px solid red;
}
.auth .error:after {
  border-top: 7px solid #e4eaee;
  bottom: -14px;
}
.auth .nameField {
  display: table;
  width: 100%;
}
.auth .nameField div {
  display: table-cell;
  padding: 10px;
}
.auth .nameField .okButtonField {
  width: 22%;
}
.block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background: black;
}
