<li>
    <div class="message">
        <div class="messageNick">
            <span class="messageNickSpan">
                {{name}}
            </span>
        </div>
        <div class="messageText">
            <div class="messageTextDiv">
                {{{message}}}
            </div>
            <div class="messageTime">
                {{time}}
            </div>
        </div>
    </div>
</li>