<section class="modalWindow">
    <div class="errorField" id="errorPlaceholder">

    </div>
    <div class="dataField">
        <div>
            <input type="text" placeholder={{placeholder}} id="inputField"/>
        </div>
        <div class="buttonField">
            <input type="button" value="Ok" id="modalOKButton"/>
            {{#if cancel}}
                <input type="button" value="Cancel" id="modalCancelButton"/>
            {{/if}}
        </div>
    </div>
</section>

<section class="block">

</section>
