<li>
    <div class="message">
        <div class="messageText">
            <div class="messageTextDiv systemMessageTextDiv">
                {{message}}
            </div>
            <div class="messageTime">
                {{time}}
            </div>
        </div>
    </div>
</li>